SoapService/SoapServiceClient/Connected Services/ServiceReference1/Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProfiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profiles" nillable="true" type="tns:Profiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfiles" nillable="true" type="tns:ArrayOfProfiles" />
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IIN" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profiles" nillable="true" type="tns:Profiles" />
</xs:schema>